<cx-storefront>Loading...</cx-storefront>
<!--- Template Overwrite-->
<!-- <ng-template cxOutletRef="LandingPage2Template" let-model>
  <pre>{{ model.slots$ | async | json }}</pre>
</ng-template> -->

<!--- Slot Overwrite-->
<!-- <ng-template [cxOutletRef]="'Section1'" let-model>
  <ng-container *ngFor="let component of (model.components$ | async)">
      <app-inner-custom-component [product]="(getComponentsFromConfig(component, 'data') | async)"></app-inner-custom-component>
  </ng-container>
</ng-template> -->

<!-- Add contnet after/before any component-->
<ng-template cxOutletRef="header">
  Custom UI added before the UI.
</ng-template>

<!-- <ng-template cxOutletRef="LandingPage2Template" cxOutletPos="before">
  <div class="before-pdp">
    Campaign UI for Canon
  </div>
</ng-template> -->

<!-- component level Overwrite-->
<!-- <ng-template cxOutletRef="FooterNavigationComponent" let-footerdata>
  <app-footer-navigation-component-custom-component2 [data]="getComponentsFromConfig(footerdata?.component, 'data')" [node]="getComponentsFromConfig(footerdata?.component, 'node')"></app-footer-navigation-component-custom-component2>
</ng-template> -->